<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHVerifyCodeFiled.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZHVerifyCodeFiledFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DDE89501F4C317B007699F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDE89641F4C317B007699F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDE896F1F4C317B007699F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDE89AA1F4C32B9007699F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DDE89B21F4C32B9007699F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
